<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SERVLET_TO_SERVLET_COMMUNICATION</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServe3</display-name>
    <servlet-name>LoginServe3</servlet-name>
    <servlet-class>master.servlet.LoginServe3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServe3</servlet-name>
    <url-pattern>/LoginServe3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServe4</display-name>
    <servlet-name>LoginServe4</servlet-name>
    <servlet-class>master.servlet.LoginServe4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServe4</servlet-name>
    <url-pattern>/LoginServe4</url-pattern>
  </servlet-mapping>
</web-app>